// Place all the styles related to the Poem controller here.
// They will automatically be included in application.css.
// Place all the styles related to the Poem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
body {
    // font-family: 'Open Sans', sans-serif;
    position: relative;
    font-family: 'Times New Roman', sans-serif;
    // width: 70%;
    margin: 0 auto;
}

.alert {
    position: absolute;
}

// LONG POEM DETAILS
.poem-title {
    margin: 8% 0 5% 0;
    font-family: "Roboto";
    font-size: 3em;
    font-weight: lighter;
    text-transform: uppercase;
}

p {
    font-size: 1.25em;
}

.closing-couplet {
    font-size: 5em;
    font-style: italic;
}

.the-center-cannot-hold {}

.the-center-cannot-hold > svg > circle {
    cursor: pointer;
}

section.options {
    margin-bottom: 10%;
    padding-right: 4%;
    &:first-of-type {
        margin-top: 10%;
    }
    &:last-of-type {
        margin-top: 15%;
        font-size: 0.85em;
    }
}

// DISPLAY
.links {
    .possible {
        display: none;
        cursor: pointer;
        border-radius: 5px;
        padding: 0.25em 0.75em;
        &:active {}
    }
    .poems {
        display: none;
        a {
            color: black;
            display: block;
            margin-right: 5%;
            margin-top: 2.5%;
            font-size: 1.1em;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        // essays
    }
    .essaytries {
        display: none;
        a {
            color: black;
            display: block;
            margin-right: 5%;
            margin-top: 2.5%;
            font-size: 1.1em;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// aboutot
.abbot {
    display: none;
    line-height: 1.5em;
    font-size: 1em;
}

// ABOUT EACH POEM
.close-the-poetic-loop {
    display: none;
}

.options {
    font-family: 'Raleway', sans-serif;
}

.poetries-wrapper {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.25em 0.75em
}

#only-once {
    margin-top: 4vh;
    width: 50%;
    word-wrap: break-word;
    line-height: 2.0em;
    font-size: 1.5em;
    h1 {
        font-family: 'Raleway', sans-serif;
    }
    #excess-of-being {
        background-color: white;
        border: none;
        font-family: "Roboto";
        position: relative;
        top: 5%;
        left: 30vw;
        font-size: 1.25em;
    }
}

// LUELTTETTSERS
.luelttettsers-title {
    margin-top: 5%;
}

.luelttettsers_liltoesters {
    margin-top: 10vh;
    > p {
        width: 80%;
        margin: 0 auto;
        font-size: 5vh;
    }
}

// Ashbery
.selfportrait-title {
    margin-bottom: 5%;
}

.ashbery pre.concave {
    font-family: "Times New Roman";
    font-size: 1.25em;
    background-color: white;
    border: none;
    margin-bottom: 0;
}

// Silliman Network
.hotnetwork-title {
    margin-bottom: 5%;
}

p.networkpoem {
    font-family: "Times New Roman";
    font-size: 1.25em;
    background-color: white;
    border: none;
    margin-bottom: 0;
}

// Bird Songs
.bird-title {
    // background-color: red;
}

.darklinglistening {
    // background-color: green;
    p {
        margin-top: 8%;
        // background-color: orange;
    }
}

// BREAD
.bread-poem img {
    margin-bottom: 3%;
}

.robopoetics-wrap {
    text-align: justify;
    pre {
        background-color: white;
        border: none;
    }
}

// sunmoon 
.artemis,
.apollo {
    pre {
        background-color: white;
        border: none;
        font-family: "Cousine", serif;
        font-size: 1.1em;
        white-space: pre-wrap;
        /* CSS 3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        text-align: justify;
        white-space: pre-wrap;
        word-break: normal;
    }
}

// yoloy
.yolotitle h1 {
    margin: 5% 0;
}

.yoloy {
    pre {
        background-color: white;
        border: none;
        font-family: "Times New Roman", serif;
        font-size: 1.1em;
        white-space: pre-wrap;
        /* CSS 3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        text-align: justify;
        white-space: pre-wrap;
        word-break: normal;
    }
    &:last-of-type {
        margin-bottom: 10%;
    }
}

// CREATE PASSWORD
.createpassword-wrapper {
    margin-top: 2.5%;
    pre {
        background-color: white;
        border: none;
        font-family: "Times New Roman", serif;
        font-size: 1.1em;
        white-space: pre-wrap;
        /* CSS 3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        text-align: justify;
        white-space: pre-wrap;
        word-break: normal;
    }
}

.checkthenumbers-wrap {
    margin-bottom: 5%;
}

.checkthenumbers {
    pre {
        background-color: white;
        margin-bottom: 5%;
        // border: none;
        font-family: "Times New Roman", serif;
        font-size: 1.5em;
        white-space: pre-wrap;
        /* CSS 3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        // text-align: justify;
        white-space: pre-wrap;
        word-break: normal;
    }
    p {
        margin: 10% 0;
        font-size: 1.5em;
        line-height: 1.75em;
        text-align: justify;
        &:last-of-type {
            margin-top: 1.5%;
        }
    }
}

.casestudyb-title {
    font-family: "Times New Roman";
}

.firstb {
    font-size: 50em;
}

.secondb {
    font-size: 8em;
    &:nth-child(2n) {
        transform: rotate(90deg);
    }
}

.thirdb {
    font-size: 6em;
    margin-bottom: 0.5em;
    transform: rotate(60deg);
    &:nth-child(2) {
        font-size: 8em;
        transform: rotate(120deg);
    }
    &:nth-child(3) {
        transform: rotate(180deg);
    }
}

.fourb {
    font-size: 20em;
    letter-spacing: 2em;
    transform: rotate(180deg);
    &:nth-child(2) {
        font-size: 8em;
        transform: rotate(320deg) skew(70deg) translate(500px);
    }
    &:nth-child(3) {
        font-size: 8em;
        transform: rotate(75deg) skew(70deg) translate(500px);
    }
    &:nth-child(4) {
        font-size: 8em;
        transform: rotate(90deg) skew(70deg) translate(20px);
    }
    &:nth-child(5) {
        font-size: 8em;
        transform: rotate(270deg) skew(70deg);
    }
}

.fiveb {
    display: inline-block;
    transform: translateX(-400px) scale(10) skewY(40deg);
    &:nth-child(2n) {
        transform: translateX(-300px) scale(8) skewY(-40deg);
    }
    &:nth-child(3n) {
        transform: translateX(-200px) scale(6) skewY(40deg);
    }
    &:nth-child(4) {
        transform: translateX(-100px) scale(4) skewY(-40deg);
    }
    &:nth-child(5n) {
        transform: translate(0px) scale(4) rotate(180deg) skewY(40deg);
    }
    &:nth-child(6n) {
        transform: translateX(100px) scale(6) rotate(180deg) skewY(-40deg);
    }
    &:nth-child(7n) {
        transform: translateX(200px) scale(8) rotate(180deg) skewY(40deg);
    }
    &:nth-child(8n) {
        transform: translateX(300px) scale(10) rotate(180deg) skewY(-40deg);
    }
}

.sixb {
    color: black;
    font-style: italic;
    display: inline-block;
}

.sevenb {
    font-size: 8em;
}

.eightb {
    font-size: 45em;
}

.nineb {
    display: inline-block;
    &:nth-child(2n+1) {
        transform: scale(2.5) rotate(15deg);
        -webkit-transform: scale(2.5) rotate(15deg);
        // color: purple;
    }
    &:nth-child(3n+1) {
        transform: skewX(15deg) rotate(100deg) translateY(35px);
        -webkit-transform: skewX(15deg) rotate(100deg) translateY(35px);
        // font-size: 2em;
        // color: green;
    }
}

.tenb {
    display: inline-block;
    &:nth-child(2n+1) {
        transform: scale(2.5) rotate(-15deg);
        -webkit-transform: scale(2.5) rotate(-15deg);
        // color: purple;
    }
    &:nth-child(3n+1) {
        transform: skewX(-15deg) rotate(-100deg) translateY(-35px);
        -webkit-transform: skewX(-15deg) rotate(-100deg) translateY(-35px);
        // font-size: 2em;
        // color: green;
    }
}

#group6 {
    margin-top: 50%;
}

.elevenb {
    color: red;
    font-size: 200em;
}

.twelveb {
    font-size: 12em;
}


/* Parallax base styles
  --------------------------------------------- */

.parallax {
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    font-family: Arial;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
}

.parallax__group {
    position: relative;
    height: 500px;
    /* fallback for older browsers */
    height: 200vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}


/* demo styles
  --------------------------------------------- */

body,
html {
    // overflow: hidden;
}

.parallax {
    font-size: 200%;
}


/* centre the content in the parallax layers */

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &:last-of-type {
        top: 80%;
    }
}


/* style the groups
  --------------------------------------------- */

#group1 {
    z-index: 5;
    /* slide over group 2 */
}

#group1 .parallax__layer--base {
    // background: rgb(102,204,102);
}

#group2 {
    z-index: 3;
    margin-bottom: 100vh;
    /* slide under groups 1 and 3 */
}

#group2 .parallax__layer--back {
    // background: rgb(123,210,102);
}

#group3 {
    z-index: 4;
    margin-bottom: 100vh;
    /* slide over group 2 and 4 */
}

#group3 .parallax__layer--base {
    // background: rgb(153,216,101);
}

#group4 {
    margin-bottom: 100vh;
    z-index: 2;
    /* slide under group 3 and 5 */
}

#group4 .parallax__layer--deep {
    // background: rgb(184,223,101);
}

#group5 {
    z-index: 3;
    margin-bottom: 100vh;
    /* slide over group 4 and 6 */
}

#group5 .parallax__layer--base {
    // background: rgb(214,229,100);
}

#group6 {
    z-index: 2;
    margin-bottom: 100vh;
    /* slide under group 5 and 7 */
}

#group6 .parallax__layer--back {
    // background: rgb(245,235,100);
}

#group7 {
    z-index: 3;
    // margin-bottom: 100vh;
    /* slide over group 7 */
}

#group7 .parallax__layer--base {
    // background: rgb(255,241,100);
}


/* Wobble Skew */


/* Wobble Skew */


/* Wobble Skew */


/* Wobble Skew */


/* Wobble Skew */

@-webkit-keyframes hvr-wobble-skew {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }
    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }
    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }
    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

@keyframes hvr-wobble-skew {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }
    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }
    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }
    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

.hvr-wobble-skew {
    // display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-wobble-skew:hover,
.hvr-wobble-skew:focus,
.hvr-wobble-skew:active {
    -webkit-animation-name: hvr-wobble-skew;
    animation-name: hvr-wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 0.9em;
    }
    .close-the-poetic-loop {
        display: initial;
    }
}

// AEIOUUUU
.aeiou {
    pre {
        background-color: white;
        margin-bottom: 5%;
        // border: none;
        font-family: "Times New Roman", serif;
        font-size: 1.25em;
        white-space: pre-wrap;
        /* CSS 3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        // text-align: justify;
        white-space: pre-wrap;
        word-break: normal;
    }
    p {
        margin: 0.5% 0;
        font-size: 1.25em;
        line-height: 1.25em;
        text-align: justify;
        &:nth-child(14n) {
            margin-bottom: 2.5%;
            &:last-child {
                margin-bottom: 10%;
            }
        }
    }
}

// spuliyuea
// spuilyie
.spuilyie {
    h1 {
        font-size: 10em;
    }
    h3 {
        font-size: 5em;
    }
}

#spuliyaudio {}

.spulword {}

.spulword.spulselected {
    color: blue;
    cursor: pointer;
}

// first-letter and :first-line// You can use Sass (SCSS) here: http://sass-lang.com/