<article class = "row" id="only-once" >  
  <section class="col-md-offset-6 col-md-10 col-sm-10 col-xs-10 col-sm-offset-6 col-xs-offset-6 ">
       <h1><b>Rilkittler's <span id="numbrion">28th</span>th Elegy</b></h1>
  </section>  
	<pre id="excess-of-being">
		Why, if it could begin as laurel, and be spent so,
this space of Being, a little darker than all
the surrounding green, with little waves at the edge
of every leaf (like a breeze’s smile) - : why then
have to be human – and shunning destiny
long for destiny?....
Oh, not because happiness exists,
that over-hasty profit from imminent loss,
not out of curiosity, or to practice the heart,
which could exist in the laurel......
But because being here is much, and because all
that’s here seems to need us, the ephemeral, that
strangely concerns us. We: the most ephemeral. Once,
for each thing, only once. Once, and no more. And we too,
once. Never again. But this
once, to have been, though only once,
to have been an earthly thing – seems irrevocable.
And so we keep pushing on, and trying to achieve it,
trying to contain it in our simple hands,
in the overflowing gaze and the speechless heart.
Trying to become it. Whom to give it to? We would
hold on to it for ever....Ah, what, alas, do we
take into that other dimension? Not the gazing which we
slowly learned here, and nothing that happened. Nothing.
Suffering then. Above all, then, the difficulty,
the long experience of love, then – what is
wholly unsayable. But later,
among the stars, what use is it: it is better unsayable.
Since the traveller does not bring a handful of earth
from mountain-slope to valley, unsayable to others, but only
a word that was won, pure, a yellow and blue
gentian. Are we here, perhaps, for saying: house,
bridge, fountain, gate, jug, fruit-tree, window –
at most: column, tower......but for saying, realise,
oh, for a saying such as the things themselves would never
have profoundly said. Is not the secret intent
of this discreet Earth to draw lovers on,
so that each and every thing is delight within their feeling?
Threshold: what is it for two
lovers to be wearing their own threshold of the ancient door
a little, they too, after the many before them,
and before those to come......., simple.
Here is the age of the sayable: here is its home.
Speak, and be witness. More than ever
the things of experience are falling away, since
what ousts and replaces them is an act with no image.
An act, under a crust that will split, as soon as
the business within outgrows it, and limit itself differently.
Between the hammers, our heart
lives on, as the tongue
between the teeth, that
in spite of them, keeps praising.
Praise the world to the Angel, not the unsayable: you
can’t impress him with glories of feeling: in the universe,
where he feels more deeply, you are a novice. So show
him a simple thing, fashioned in age after age,
that lives close to hand and in sight.
Tell him things. He’ll be more amazed: as you were,
beside the rope-maker in Rome, or the potter beside the Nile.
Show him how happy things can be, how guiltless and ours,
how even the cry of grief decides on pure form,
serves as a thing, or dies into a thing: transient,
they look to us for deliverance, we, the most transient of all.
Will us to change them completely, in our invisible hearts,
into – oh, endlessly, into us! Whoever, in the end, we are.
Earth, is it not this that you want: to rise
invisibly in us? – Is that not your dream,
to be invisible, one day? – Earth! Invisible!
What is your urgent command if not transformation?
Earth, beloved, I will. O, believe me, you need
no more Spring-times to win me: only one,
ah, one, is already more than my blood can stand.
Namelessly, I have been truly yours, from the first.
You were always right, and your most sacred inspiration
is that familiar Death.
See I live. On what? Neither childhood nor future
grows less......Excess of being
wells up in my heart.
	</pre>	
</article>	




<script type="text/javascript">
function main() {
    "use strict";
    var counter = 0, all = "ABCDE FGHIJKL MNOP QRS TUV WXYZab cd efg hijklm nopq rstuvwx yz \n \n" ;
    var $_inter = setInterval(function() {
        var text = document.getElementById("excess-of-being");
       
        text.innerHTML = text.innerHTML.substring(0, counter) + all.charAt(Math.floor(Math.random()*all.length)) + text.innerHTML.substring(counter+1);
        counter = (counter+1)%text.innerHTML.length;
    }, 20);

var countero = 0, allo = "1234567890" ;
    var $_interr = setInterval(function() {
        var texto = document.getElementById("numbrion");
        texto.innerHTML = texto.innerHTML.substring(0, countero) + allo.charAt(Math.floor(Math.random()*allo.length)) + texto.innerHTML.substring(countero+1);
        countero = (countero+1)%texto.innerHTML.length;
    }, 80);

}

$(function(){
   main();
});
window.onload = main();
</script>


