<% provide(:title, "AEIOU") %>
<%= render 'layouts/omphalos' %>
<!-- About the Poem -->
<article class="close-the-poetic-loop row">
<section class="col-md-6 col-md-offset-3 col-sm-4 col-sm-offset-5 col-xs-8 col-xs-offset-2">
<p>Unlike Christan Bök's <a href="http://archives.chbooks.com/online_books/eunoia/text.html"><em>EUNOIA</em></a>, this poem makes use of every word in the English language containing <em>all</em> the vowels. It is, in this sense, an <em><b>omnivocal lipogram</b></em>. Not the most robust or interesting poem, I suggest it is best skimmed, wherein one hopes to catch a glimpse of some of the perhaps more promising phrases.</p>
</section>
</article>
<!-- The Poem -->
 <section class  = "row aeiou-title">
       <h1 class =  "col-md-offset-2">AEIOU</h1>
</section> 

<article class = "row aeiou">
		<section class="col-md-8 col-md-offset-2">
<p>groundbreaking unimportance</p>
<p>conceptualizing computerization </p>
<p>incommunicable mountainsides mustachioed nefarious</p>
<p>overanxious overcautious plutocracies</p>
<p>Authoritative gesticulations, ejaculations,  expostulations, elucidations  </p>
<p>Gregarious mouthwatering numerological homosexuality molecularity</p>
<p>unobjectionable tambourines</p>
<p>ambidextrous adulteration bureaucratization</p>
<p>soul-searching hallucinogenic inconsequential autobiographies </p>
<p>tongue-lashing tautologies </p>
<p>unemotional persuasion </p>
<p>unsportsmanlike housecleaning</p>
<p>ratatouille housewarming </p>
<p>autopsies
adventitious
mountaineering</p>
<p>unforgivable conceptualizations</p>
<p>permutation
encouraging</p>
<p>augmentation
recirculation questionnaire neurotransmitters
reconfigurable</p>
<p>uncontainable portraiture</p>
<p>boundaries
instantaneously
 unrecognizable
multidimensional
gelatinous</p>
<p> copulative manoeuvrings</p>
<p>cauliflower unavoidable</p>
<p>unsportsmanlike duodecimal</p>
<p>sequoias </p>
<p>customizable semiautomatic urogenital nonintellectual ejaculation self-regulation</p>
<p>automatized reputation perambulations</p>
<p>unforgivable ultraviolet heterosexuality</p>
<p>authoritative unapologetic filamentous Beauvoir</p>
<p>continuable pulverization</p>
<p>Australopithecus unseaworthiness</p>
<p>mendaciously questionable audiometers</p>
<p>mousetrapping 
unmentionable
fountainheads
malnourished</p>
<p>conceptualize nonintellectuals </p>
<p>uncontainable lasciviousness</p>
<p>ulceration superordinate</p>
<p>daguerreotyping  speculations</p>
<p>outmaneuvering exclusionary authentication </p>
<p>unexceptional purgatories</p>
<p>ultraconservative packinghouse </p>
<p>housewarming documentaries</p>
<p>unrecognizable Mozambique</p>
<p>unnoticeable eudaimonia </p>
<p>subcontinental encrustation revolutionaries</p>
<p>uneconomically undemocratic </p>
<p>reputations aeronautic </p>
 <p>superexponential housemaid questionnaires</p>
 <p>regulations reputations jailhouse </p>
 <p>delusional atrociousness overparticular</p>
<p>spaciousness anxiousness  </p>
<p>unpoetical euphoria, eunoia</p>
<p>unquestionable instantaneous </p>
<p>unobtainable pandemonium harmoniousness </p>
<p>flirtatiousness undiagnosable </p>
<p>milquetoasts overpopulating</p>
<p>unauthorized uncomplicated miraculousness</p>
<p>counterbalancing unconventional</p>
<p>interocular intercommunicating</p>
<p>unreasoning authoritatively </p>
<p>unproblematic audiotapes </p>
<p>miscellaneous gregariousness popularized</p>
<p>undiagnosed mountainside</p>
<p>emasculation liquefaction discourages </p>
<p>unexceptionable superexponential  </p>
<p>somersaulting telecommunication</p>
<p>encouragingly sacrilegious</p>
<p>outpatients overambitious</p>
<p>undomesticated outspreading rambunctiousness </p>
<p>overqualified crematorium </p>
<p>facetious enumeration putrefaction sequestration expostulation</p>
<p>preauthorize recalculations uncoordinated nonresidual</p>
<p>unmodifiable telecommunications</p>
<p>countervail pasteurization </p>
<p>undemocratic
nonequivalent quaternions</p>
<p>bougainvillea</p>
<p>instrumentation
unsanctioned</p>
<p>enunciation
reauthorizing</p>
<p>unexceptionally discouraged autobiographer</p>
<p>unincorporated perspicacious republication</p>
<p>overambitious neurotransmitter</p>
<p>elocutionary pneumonia</p>
<p>auspiciousness
sequestrations
occupancies
refutations</p>
<p>fountained grandiloquence</p>
<p>hallucinogenics contextualizing hippopotamuses </p>
<p>ejaculations evolutionary auditioned</p>
<p>tenacious intercommunicated odalisque</p>
<p>nonpunishable nucleation</p>
<p>cauliflowers stegosauri multimilionaires</p>
<p>denudation
reacquisition
rheumatoid</p>
<p>overstimulated
unprofessional</p>
<p>uncooperative
nonumericals</p>
<p>perturbation
unconscionable
excommunicate</p>
<p>communicativeness accoutering</p>
<p>consanguineous revaluation</p>
<p>beautification rejuvenation graciousness vivaciousness</p>
<p>discombobulates radionuclide emulation</p>
<p>unintentionally unorganized</p>
<p>maliciousness counterclaims</p>
<p>precautionary menstruation</p>
<p>praseodymium revaluation</p>
<p>intermolecular recalculation fractiousness</p>
<p>nefariousness outdistance</p>
<p>loudhailer concubinage</p>
<p>chemotherapeutic documentation</p>
<p>neutralization audiometer undercoating</p>
<p>unconstrained pedagoguing</p>
<p>expostulating
perambulation unfashionable</p>
<p>Aurelio Ecuadorians Beaujolais Cointreau Austronesian Hermaphroditus Aureomycin Luxembourgian
Belorusians Barquisimeto</p>
<p>neurological
automobiles</p>
<p>audiophile
fecundation</p>
<p>insupportable tourmaline supersaturation</p>
<p>subprofessional unmentionables</p>
<p>neurotically popularize conceptualization overenthusiastic </p>
<p>equivocating inconsequentialy</p>
<p>unappropriated institutionalized</p>
<p>repopulating sanctimoniousness </p>
<p>grandiloquent
counterrevolutionary</p>
<p>undervaluation devaluations efficacious contagiousness</p>
<p>uninformatively counteractive dehumanization overstimulates</p>
<p>auspiciousness insouciance pugnaciousness</p>
<p>obituaries education</p>
<p>equipartition evaluational unparodied</p>
<p>gubernatorial superannuation</p>
<p>discountable supplementation</p>
<p>disadvantageously
uncontaminated supersonically</p>
<p>subpoenaing orbiculares adventitiously encrustations</p>
<p>nonprejudicial undemonstratively magniloquent</p>
<p>malfunctioned emulsification recapitulation discontinuances continuances</p>
<p>carnivorousness 
vituperation</p>
<p>veraciously
demodulating</p>
<p>unconsolidated
preoccupation</p>
<p>ostentatiously
intercommunication
accentuation 
eructation</p>
<p>unexceptionably
nonumerical numerations</p>
<p>equation
fluoridate</p>
<p>argumentation
sequestrations</p>
<p>bougainvilleas</p>
<p>businesswoman depressurization</p>
<p>inoculates
deregulation
jalousie
perturbations</p>
<p>vicariousness unaccomplished</p>
<p>discountenanced
exhumations
auctioneer 
outpatients
praseodymium
uncongenial</p>
<p>malnourishment multifariousness authentications incommensurable  </p>
<p>neurologically unassociated denunciations</p>
<p>repudiator
extenuation
genitourinary</p>
<p>automatize avariciousness</p>
<p>congruential uncommunicative rapaciousness</p>
<p>precarious simultaneous</p>
<p>reinoculated intravenously</p>
<p>encapsulations
underestimation</p>
<p>inquorate refutations</p>
<p>abstemiously unnoticeable</p>
<p>mensuration
automotive
uncolimated</p>
<p>equinoctial
judicatories
overpopulation</p>
<p>cautioned unconventionally</p>
<p>exhumations
counteracting</p>
<p>perpetuation 
equivocations</p>
<p>depopulating
expurgation</p>
<p>preoccupations</p>
<p>subordinated remuneration</p>
<p>voluptuaries
excommunications mountaineered</p>
<p>authenticator
coinsurance</p>
<p>underspecification pertinaciously </p>
<p>unequivocally equivocally</p>
<p>equitation exudation peculation deputations</p>
<p>equalization autocorrelation</p>
<p>coleaguing autocracies</p>
<p>capriciousness vexatiously</p>
<p>reunification resuscitation</p>
<p>conceptualizes
communicative</p>
<p>nonautomotive auctioned revaluations</p>
<p>attenuation underpopulation unsatisfactoriness</p>
<p>countermanding questionnaires</p>
<p>authorize  speculation</p>
<p>questionably laboriousness</p>
<p>modularized contextualization </p>                                                      
		</section>	
</article>