<%= provide(:title, "Darkling I listen") %>
<%= render "layouts/omphalos" %>

<article class="close-the-poetic-loop row">
	<section class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-5 col-xs-8 col-xs-offset-2">
	<p>
		It goes without saying that the poetic tradition of birdsong is immense. But still I said it. The pervasive similes of lyricism - or even poetry - as being alike birdsong have nearly made the terms synonymous. But what are the sounds that birds actually make? This poem recontextualizes Roger Peterson's vocal transcriptions of bird sounds from his definitive guide, <a href="http://www.amazon.com/Field-Guide-Western-Birds-Completely/dp/B005UVSA88"><b>A Field Guide to Western Birds: A Completely New Guide to Field Marks of All Species Found in North America West of the 100th Meridian and North of Mexico</b></a>. If anything, in light of postmodern and contemporary poetics, Peterson's nuanced attentiveness to sonic variance actually girts the age old metaphor, challenging the poetics of today to even attempt to express themselves in any of these surprising and inventive ways. I want a prosody of whinnying, a poetics of high-pitched cooing, a ballad of <em>kah-la-a-luk</em>.<span style = "font-size: 0.85em;">Note, also note the homonym shared between Peterson's use of "note", and that of say, Vanessa Place and Rob Fitterman in <a href="http://www.uglyducklingpresse.org/catalog/browse/item/?pubID=20"><b>Notes on Conceptualisms</b></a> or Felix Bernstein in his <a href="http://www.thevolta.org/ewc41-fbernstein-p1.html"><b>Notes on Post-conceptual Poetry</b></a>. Hmmm...</span>
	</p>
	</section>
</article>

<section class="row">
 	<section class="col-md-6 col-md-offset-5 col-sm-offset-5 col-xs-offset-5 bird-title">
       <h1><b>Bird Songs</b></h1>
	</section> 
</section>
<!-- The Poem -->
<article class="darklinglistening row">
	<section class="col-md-6 col-md-offset-4">
	<p><b>Voice:</b> When flying, a repeated <em>kwuk</em>. In Arctic, falsetto wails.</p>
	<p><b>Voice:</b> In summer, falsetto wails, weird yodeling, maniacal quavering laugher; at night, <br> a tremulous <em>ha-oo-oo</em>. In flight, a barking <em>kwuk</em>. Usually silent in winter.
	<p><b>Voice:</b> <em>Kuk-kuk-cow-cow-cow-cowp-cowp;</em> also whinnying</p>
	<p><b>Voice:</b> A sharp <em>keer, keer</em> or a lower <em>kee</em>.</p>
	<p><b>Voice:</b> A mellow, high-pitched cooing: <em>woo-ho, woo-woo, woo-ho</em>.</p>
	<p><b>Voice:</b> High pitched tootling, <em>kah-lah-a-luk</em>, in chorus. </p>
	<p><b>Voice:</b> A deep, musical honking or barking, <em>ka-ronk</em> or <em>ka-lunk</em></p>
	<p><b>Voice:</b> A squeeling slurred whistle, <em>ka-whee-oo</em></p>
	<p><b>Voice:</b> Male has a low <em>bek</em>; a whistling call. Female quacks.</p>
	<p><b>Voice:</b> Male, <em>yeeb</em>; a low <em>kwek</em>. Female, boisterous quacking.</p>
	<p><b>Voice:</b> Male, a double-toned whistle: <em>prrip prrip</em>; wheezt notes. Female, a low <em>quack</em>.</p>
	<p><b>Voice:</b> The courting male utters a low crooning phrase; the female makes grunting croaks. </p>
	<p><b>Voice:</b> Male, a moaning <em>ow-ooo-urr</em>. Female, a grating <em>kor-r-r</em>.</p>
	<p><b>Voice:</b> Talkative; a musical <em>ow-owdle-ow</em>, or <em>owl-omelet</em>.</p>
	<p><b>Voice:</b> Male in courtship, cooing notes. Female <em>quacks</em>, etc.</p>
	<p><b>Voice:</b> Male, a harsh catlike <em>meow</em>; a deep purr. Female <em>quacks</em>.</p>
	<p><b>Voice:</b> Courting male, a sputtering <em>chick-ik-ik-ik-k-k-k-kurrrr</em>.</p>
	<p><b>Voice:</b> A grating <em> kuk-kuk-kuk-kuk; kakakakakaka</em>, etc.; also a measured <em>ka ha, haha</em>; various cackles, croaks.</p>
	<p><b>Voice:</b> A croaking <em>kr-r-ruk</em>, repeated; a froglike <em>kup</em>; also <em>kek, kek, kek</em> and load, complaining, henlike notes.</p>
	<p><b>Voice:</b> Soft, short, barking notes. Also <em>kaup kaup</em>.</p>
	<p><b>Voice:</b> Deep harsh croaks: <em>Frahnk, frahnk, frahnk</em>.</p>
	<p><b>Voice:</b> Note, a thin, charp <em>chip</em>; distinctive. </p>
	<p><b>Voice:</b> Song, a low, muted <em>coo-coo-coo</em>, heard in the marsh.
	<p><b>Voice:</b> A rasping <em>scaip</em>. Song, a measured <em>chip-a, chip-a, chip-a,</em> etc. In high arial display, a winnowing <em>huhuhuhuhuhuhu</em>.
	<p><b>Voice:</b> A mellow, whistled <em>kip-ip-ip-ip</em>, often heard at night. Song, weird windy whistles: <em>whoooleeeeee, wheeloooooooooo</em>.</p>
	<p><b>Voice:</b> A mouselike <em>jeet</em>, like two flint pebbles scraping.</p>
	<p><b>Voice:</b> Usually silent. Occasionally a harsh <em>churrr</em> or <em>chee-ur</em>. </p>
	<p><b>Voice:</b> Drumming of male suggests a distant motor starting up. Muffled thumping starts slowly, accelerating into a whir: <em>Bup . . . bup . . . bup . . . bup . . bup,bup,up,r-rrrrrr.</em></p>
	<p><b>Voice:</b> Deep raucous calls, <em>go-out, go-out</em>. Male, a staccato crow, <em>kwow, kwow, tobacco, tobacco</em> etc., or <em>go-back, go-back</em>.</p>
	<p><b>Voice:</b> Song, in hovering flight and quivering descent, ecstatic and bubbling: starts with low, reedy notes and rollicks upward. Flight note, a clear <em>pink</em>, often heard overhead in migration.</p>
	<p><b>Voice:</b> Song, a rolling <em>chiddle-chiddle-chiddle, turtle-turtle</em>, last notes dropping; or <em>sweeter-sweeter-sweeter, sugar-sugar</em>.</p>
	<p><b>Voice:</b> Song, a husky, lazy <em>zur, zur, zur, zreee</em>, or <em>beer, beer, beer, bree</em> (ending higher).</p>
	<p><b>Voice:</b> A lisping, dreamy <em>zoo zee zoo zoo zee</em> or <em>zee zee zee zee zoo zee;</em> the <em>zee</em> notes on same pitch, the <em>zoo</em> notes lower.</p>
	<p><b>Voice:</b> Starling-like; repeated phrases. An accomplished mimic.</p>
	<p><b>Voice:</b> Song, liquid, breezy, ethereal; wheeling downward: <em>vee-ur, vee-ur, veer, veer.</em></p>
	<p><b>Voice:</b> A long, eerie, quavering, whistled note, followed, after a pause, by one on a lower pitch or higher pitch. A liquid <em>chup</em>.</p>
	<p><b>Voice:</b> A monotonous <em>chuh-chuh-chuh-chuh</em>, etc., or <em>chug-chug-chug-chug-chug</em>, on one pitch, gaining rapidity; unbird-like.</p>
	<p><b>Voice:</b> A two- or three-syllabled chant. Variable; <em>tea-kettle, tea-kettle, tea kettle</em>, or <em>chirpity, chirpity, chirpity, chirp</em>.</p>
	<p><b>Voice:</b> A rough, querulous <em>wink? wink?</em> or <em>zhenk?</em></p>
	<p><b>Voice:</b> A high, penetrating <em>kee-zee'ick! kee-zee'ick!</em>. <p>
	<p><b>Voice:</b> <em>Whack-up, whack-up, whack-up,</em> or <em>ja-cob, ja-cob</em>. </p>
	<p><b>Voice:</b> A mournful, drawling whistle, slurring down, <em>peeur</em>.</p>
	<p><b>Voice:</b> Song, bright, loose and disjointed.</p>



	</section>
</article>