<%= provide(:title, "Checking After Words") %>
<%= render 'layouts/omphalos' %>
<article class="checkthenumbers-wrap">
<article class="row text-center">
	<h1> It's Okay, We Can Just Check the Numbers Afterwards:</h1>
	<!-- <h4><em>Attempting Poetry</em></h4> -->
</article>
</article>
<section class="row checkthenumbers">
	<section class = "col-md-5 col-md-offset-3">
		<pre>98. Good v. bad poetry. The distinction is not useful. The whole idea assumes a shared set of articulatable values by which to make such a judgment. It assumes, if not the perfect poem, at least the theory of limits, the most perfect poem. How would you proceed to make such a distinction?

(From <a href="http://www.ubu.com/ubu/pdf/silliman_chinese.pdf"><em>The Chinese Notebook</em></a> by <em>Ron Silliman</em>)</pre>
	</section>
</section>

<section class="row checkthenumbers">
	<section class="col-md-7 col-md-offset-2">

		<p>I want to underscore the notion that <u>any and all valuations of poetry and poetics always speak from and with their own unique historical and aesthetic biases</u>. That is to say, any judgment of poetry in terms of "good" or "bad" are only so in their own particular <em>episteme</em>, as Foucault would say, and are locatable, as Nietzsche would suggest, in a genealogy of shifting values over time. <em>Even if</em> we could formulate a "shared set of articulatable values", these valuations are, as Derrida would highlight, always unstable, slippery, and evershifting - bound to their historical moment - only really indicative of other supra-cultral aesthetic tendencies of their time. </p>

		<p><em>Even if</em> this weren't the case and that it were possible to stake out grounds for certain value judgments, Silliman's proposition does not explain what such a "useful distinction" would be or do in these cases. Any grounding of such hypothetical distinctions would vanish if their utilitarian values cannot also be articulated. And isn't it that any object's "use value" - indeed the concept of "use value" -  is also subject to the exact same sempiternal fluctuations that "good" and "bad" are? In this case, even the distinction of the distinction is not useful. </p>

		<p>Simple dialectics would then teach us that with the impossibility of a "perfect poem" or a "most perfect poem", that we can then neither have poems which singularly "fail". The notion of a "failed poem" or a "mostly failed poem" is untenable precisely because its definitive opposite does not exist, is illusory. And by extension, <em>even if</em> they did exist, they would subject to their temporal moment, failing only for a second, perfect only for a moment.</p>

		<p>Approaching poetry and poetics in this manner refocuses the discussion away from the turtledowns of ontology - what poetry <em>is</em> - towards reconstellating the various forms of <em>poiesis</em> - what poetry does and can do.</p>

		<p>There may be a fear that this kind of approach dilutes the critical capacities of poetry and poetics by opening up the artform to hubbub, or irresponsible, and detached authorship (as if it isn't open to these cases already). I too worry about how acephelous this kind of approach could become: circumbscribing "good" poetry from "bad" poetry is also to occupy these opinionated positions with passion and sensitivity. These claims represent an investment of the self in identifiable poetic traditions. These responses at their best are viscerally embodied, politically charged, and full of beautiful nuance. To disregard, discredit, or downplay these responses is surely not what I am suggesting.</p>

		<p>In terms of reading, perhaps this type of framing is merely meant to short-circuit those gutjerk reactions we have to certain forms of poetry that are unfamiliar, or annoying, or cliché, or banal, or difficult, for whatever reasons we so think. However, this way of thinking about poetry is a way of recontextualizing these initial responses. This form of immediate reflection complicates any simplistic readings, forcing us to confront what it is in the poem <em>in comparison to</em> our experiences which makes us feel this way, and more importantly, why this may be so. If no poem can be objectively bad, or objectively good, our responses become traces of our own aesthetics, and the querying of these responses can only lead to more interesting and more fulfilling engagements with any kind of poem or poetics, if not language itself. </p>

		<p>Indeed, this type of paradigm forces us to take an <em>interest</em> in the poem (the etymology of <em>interest</em> is <em>inter-essa</em> literally meaning between beings). Reading then is dialogic, an interaction that occurs between two entities, the poem and the reader. There is, although it is often forgotten, an <em>a priori</em> perceptual relationship between any reader and any poem; that is to say, the reader, not the author, is largely responsible for the semantics of any poem simply by their perceiving of it. The point then is that any careless dismissiveness of poetry and poetics actually involves us and reflects on us, moreso than the poem itself. Only a reader can activate a poem. How they choose to do so is paramount to any thinking of poetics: our responses are our responsibility. </p>

		<p>In terms of writing, Silliman's dictum is most helpful when it prevents one from evaluating their own poetry with nonexistent or unhelpful categories. This approach to poetry removes a significant barrier to entry. The fear of writing "bad" poetry is mitigated by the fact that you can't.  It can also quell the fear of "authorship" since one must now also recognize that they are no longer the single "authority" of a poem's meaning: that responsibility is now also shared with the reader. There are no poems which "fail", and when they do the next closest thing to that, they are only more interesting for doing so.   <br><br>
		The point, when writing is that we can always just check the numbers afterwards. The flatness, when writing, is that we always re-numericalize numerology after words. Grab a thesaurus where oranges five, meridian with eight, gnosis of four. What if I told you the syntactic constraint I wrote this piece under? What if I then wrote over this syntactic constraint? Do the adjectives I've used have any relation to the Fobinacci sequence? Look again.</p>
		<br> <pre>I don't want poems that teach you how to think, but that show a different order of thinking. - <em>Charles Bernstein </em></pre><br>
		<p>All forms of diving involve the nose somehow. Many small animals dig holes. Knot nonsense metaphorically, but... if you have to. Either way, who is counting?</p>
	</section>
</section>
