<%= provide(:title, "Create Password") %>
<%= render 'layouts/omphalos' %>
<!-- The TITLE -->
<article class="row">
	<section class="text-center">
	<h1>Create_Password</h1>
	</section>
</article>
<!-- POEM -->
<section class= "createpassword-wrapper row">
    <pre class = "createpassword col-md-7 col-sm-8 col-xs-8 col-md-offset-5 col-sm-offset-4 col-xs-offset-4 ">
orange_creamsicle
melodied semblances in harmonic rain 
123orange
<em>callicarpa</em>, also know as <em>beautyberry</em>
OrangeCreamsicle
amaranthine edges around byzantium centers
OrangeCreams!cle
silver on the edges of the edges of the umbra, however.
1Orange_Creamsicles.
entry as illusory, edges as discipline
0range_Cr3amsicles
we should go downtown
0R@NG3-CR#@/\/\$1C|_3$.
downtown as in remembering
O.R.creamcycle! 
as in could though.
say eight outloud
	      right now.
	      going crazy for you.



    </pre>