<%= provide(:title, "An essay in progress") %>
<%= render 'layouts/omphalos' %>
<article class="robopoetics-wrap">
<article class="row text-center">
	<h1>Fragments for a Robopoetics</h1>
</article>

<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>Wershler-Henry has often remarked in conversation that, for poetry, the webpage represents the first, truly new, unit of typographic composition since the invention of the page itself.</p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>The poetry of the future may have to explode the formal limits of the book, finding a new way to disrupt the stratified sequencing of the page, doing so, by actively engaging the experimental technologies of cybernetic publishing.</p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p> If the time should ever come when what is now called science, thus familiarized to men, shall be ready to put on, as it were, a form of flesh and blood, the Poet will lend his divine spirit to aid the transfiguration, and will welcome the Being thus produced, as a dear and genuine inmate of the household of man.</p>
	</section>
</section>

<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>But, would my limits have permitted me to point out how this pleasure is produced, many obstacles might have been removed, and the Reader assisted in perceiving that the powers of language are not so limited as he may suppose. </p>
	</section>
</section>




<section class="row">
	<section class="col-md-6 col-md-offset-5">
		<pre>
		 unregretting stay in
		 place differ same 
		 foul worsened grassless flunk
		 unlike white
		 second dark
		 go forth
		 differ sameness</pre>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>Recent, poetic trends suggest that, in order to avoid sounding completely outdated, many poets may have to learn a new catechism, acquiring competence in domains far beyond the purview of literary expertise. Poets may have to become advanced typesetters and computer programmers - technicians, polyglot in a variety of machinic dialects: HTML and Quark, PERL and Flash. Poets may have to learn the exotic jargon of scientific discourses just to make use of a socially relevant lexicon, and now that cybernetics has effectively discredited the romantic paradigm of inspiration, poets may have to take refuge in a new set of aesthetic metaphors for the unconscious, adapting themselves to the mechanical procedures of automatic writing, aleatoric writing, and mannerist writing - poetry that no longer expresses our attitudes so much as it processes our databanks.</p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>We may exalt the poets of the future, not because they can write great poems, but because they can program devices that can write great poems for us, doing so automatically within a digital economy of unrestricted expenditure. We may also want to keep in mind too that we are probably the first generation of poets who can reasonably expect to write poetry for inhuman readers, be they aliens, robots, or clones. </p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p> The irony here is that, while the witless machine knows much less about poetics than even the most artless amateur knows, falderal written by the mechanism invariably outclasses doggerel written by the rhymester.</p>
	</section>
</section>

<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<pre>We expect plumbers, electricians, engineers and doctors to both have a specific and specialized vocabulary and be on the forefront of new advancements in their feild, but scorn poets who do the same.</pre>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<pre>Poetry has more to learn from graphic design, engineering, architecture, cartograhpy, automtovice design, or any other subject, than it does from poetry itself.</pre>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<pre>If we had something to say would we choose the poem - with its sliver of audience and lack of cultural cachet - as the arena to announce that opinion?</p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p> Web space must be Rabelaisian or it will not be at all.</p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>Eternity is in love with the productions of time</p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>While automating the collection of content is partly a matter of
convenience (it could have shaved a few years off the writing of Christian
Bök’s Eunoia, for example), the result of this action is a startling shift in
the status of the text. As the collection process becomes increasingly automated,
the collection program — rather than the output — becomes the
poem.</p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-5">
		<pre>By machine we mean the book’s capacity and method for storing
information by arresting, in the relatively immune form of
the printed word, the flow of speech conveying that information.
The book’s mechanism is activated when the reader picks
it up, opens the covers and starts reading it. (60. Nichol and
McCaffery, Rational Geomancy: Kids of the Book Machine
[Vancouver: Talonbooks, 1992])</pre>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>As the program becomes the poem, the poet becomes the
coder. (Werschler, 60) </p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>Kittler defines discourse networks as “the network of tech- nologies and institutions that allow a given culture to select,
40 DISCOURSE ANALYSIS
store and process relevant data” (1990: 369). (40)</p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>Meaning and meter alone do not account for its effect. How does language have to be constituted for the poem to cast its spell? What order of discourse, what mechanisms of speech production, what rituals of language acquisition have to be in place in order to lure the wanderer and his readers into an “audible twilight” in which trees and mountains are brimming with soothing messages and in which even the absence of bird chatter is full of spiritual sig- nificance? Kittler is less interested in what the poem is saying than in uncovering the mechanisms that produce meaning in the first place.</p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p>Foucault described a sequence of epochs, each of which was ruled by an episteme “that defines the conditions of pos- sibility of all knowledge, whether expressed in a theory or silently invested in a practice” (Foucault 1994: 168)</p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p></p>
	</section>
</section>


<section class="row">
	<section class="col-md-6 col-md-offset-3">
		<p></p>
	</section>
</section>






</section>
