<% provide(:title, "Self-Portrait in a Concave Mirror") %>
<%= render 'layouts/omphalos' %>

<!-- About the Poem -->
<article class="close-the-poetic-loop row">
<section class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-5 col-xs-8 col-xs-offset-2">
	<p>This poem is the result of processing John Ashbery's most celebrated poem, his <a href="http://www.poetryfoundation.org/poetrymagazine/browse/124/5#!/20596528"><b><u>Self-Portrait in a Convex Mirror</u></b></a> through a simple computer program. As this program reads the poem, it replaces each word with its corresponding antonym, if it has any. Nice.</p>
</section>
</article>
<!-- The Poem -->
 <section class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4 selfportrait-title">
       <h1><b>Self-Portrait in a Concave Mirror</b></h1>
       <h5><em>Obviously for Ashbery</em></h5>
  </section> 
  <!-- Another poem -->
<section class="row">
	
<%= image_tag("AshberyScatter.png", alt: "Asbery Inverted", class: "img-responsive center-block") %>
</section>
<br><br>
<section class= "ashbery row">
    <pre class = "concave col-md-8 col-sm-8 col-xs-8 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 ">wrongfulness tail many leadless
new open chain 
dark disclaim differ ascend dark dispersion darkness dull
go under break unpointedness
able kick downstairs slight
quit relaxing differ bound quit
forbear tall existent powerless unrestraint
back forgetful patterned cold
big solid inconsequence
inattention lose lifelessness
true dislike move disown
refuse certainty show little
harp disjoint
likely incertain lightness darkness imploring
retreat humbleness quench significant
little little draw a blank
rugged fine top of the inning
wrongfulness half half unstable stableness
unsafe profound unseeable rawness
disown quit
unsaturated reversal
inattention draw a blank
sound location
few unsealed dark
light-colored darkness
regular first docile dry full
chromatic back
inactiveness freeze perpendicular
unlike ignore curving big
dark possible bust
sharpen imperfect unsealed change
uneasy make it shallow
trustfulness strong unneeded existent ignore
dark disown undo few existent come before
decline undo come along
break change half
untoughened undue fewer asleep nascence
fewer early differ sink asleep
cease dead irreality inaccuracy
impotent ugliness dark ignore unimportance
patterned native unpointedness impotent
ugliness differ
euphoric dead 
halt bear in mind familiar civilian decline
unusual diverge differ unpointedness civilian
unscientific elderly misconception
low spirits angulate second differ inconsequence
decline half differ indulgent
same decline decline dark beginning
disown differ diffused terminate
wake most middle go off
same unanimated location
location blow up worn
worn soften
impotent sighted activity
unacknowledged inertia 
private differ 
differ covert confirming 
disconfirming ignore halt 
worn differ rural back rested new civilian eliminate 
likely fresh interrogation go forth differ 
terminate 
differ wrongfulness paranormal paranormal
shut decline covered disclaim 
nonrandom disorderly paranormal nondevelopment 
draw a blank inconsequence 
little unpleasant nascence differ 
nascence natural acquittal carry off 
forgetful black unsealed ugly 
nonspecific distributive time to come 
darkness decline nonmeaningful halt 
slight differ thin slight differ 
differ crude hatred conspicuous 
absent ignore differ full defined differ 
improbable incapable same darkness 
absent temporary darkness differ 
hatred ugly more than cloudy retreat 
dissatisfaction beginning set out new 
dark unpainted ignore tall later 
dark decline draw a blank absent unlike 
absent forgetful equivalent 
word differ unsubstantial nix absent 
eventful draw a blank terminate 
private differ opening dead future 
start colour undo eliminate inattention 
half differ disown 
enjoy break 
unscripted 
unfledged 
imprecise 
harsh unpointedness 
nonbeing fewer 
unlike distinguishable tautness 
same fraction 
most half 
unpointedness friendly 
common friendly 
decline most unregretting 
differ beginning similar 
second inexplicit 
unconscious cognisant 
nonessential worn same 
terminate 
ascend go forth 
decline implausible 
jumpy 
commencement 
differ 
playful 
least extraordinary inertia 
open up 
cognise back 
differ friend 
elevate dark 
infertile 
go away 
fewer more 
than mild 
valuable impermanency 
differ playful finishing 
little future decline 
lean little 
half beginning decline 
suspect ignore differ differ imperfect 
unusual decline decline unpointedness 
unnaturalness differ second outer 
discomposure second unfrozen 
unwelcome unconventionality 
decline worsened decline 
bank right beginning 
increase darkness 
sharpen nonbeing 
unsubstantial untroubled 
decline dematerialise 
inactiveness 
hot motion 
difficultness 
half ignore 
hot</pre>
</section>
