<section class = "the-center-cannot-hold text-center">
    <svg  xmlns:xlink="http://www.w3.org/1999/xlink" height="140" width="140" class = 'hvr-wobble-skew'>
    <a xlink:href="http://abcdefghijklnmoqprstuvw.xyz">
      <circle id = "periphery" class = "hvr-wobble-skew" cx="55" cy="50" r="40" stroke="#00DDFF" stroke-width="3" fill="white" /> 
        </a>
    </svg>
</section>